<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="srce" value="E:\test" />
    <!--where the files to be zipped are-->
    <add key="dest" value="E:\test" />
    <!--where the .zip should go-->
    <add key="mnth" value="0" />
    <!--how many months to go back. 0 for this month, 1 for last month, etc.-->
    <add key="type" value="testtype" />
    <!--type: sighting or shipping_instructions, for example-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>